<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">Bullet Journal</a>

  <ul class="nav navbar-nav pull-xs-right">

    <li class="nav-item active">
      <a class="nav-link" href="#">
        <i class="fa fa-bell-o" aria-hidden="true"></i>
        <span class="tag tag-success">6</span>
      </a>
    </li>

    <li class="nav-item">
      <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </li>

    <li class="nav-item">
      <div class="btn-group">
        <button id="login" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Aurélien Allienne
          </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Help</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </li>

  </ul>
</nav>