<nav class="navbar navbar-fixed-top navbar-dark bg-inverse navbar-twitch" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          <span class="small-nav index"> 
							<i class="fa fa-home" aria-hidden="true"></i>
              <div class="textbox">
                <span>Index</span>
              </div>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="small-nav calendar">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <div class="textbox">
                <span>Planning</span>
              </div>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="small-nav agenda">
              <i class="fa fa-book" aria-hidden="true"></i>
              <div class="textbox">
                <span>Agenda</span>
              </div>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="small-nav collections">
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <div class="textbox">
                <span>Collections</span>
              </div>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>